use Mix.Config

config :ledger, :tradeking_consumer_key, ""
config :ledger, :tradeking_consumer_secret, ""
config :ledger, :tradeking_token_key, ""
config :ledger, :tradeking_token_secret, ""

config :ledger, :fasecu_username, ""
config :ledger, :fasecu_password, "
config :ledger, :fasecu_a1, ""
config :ledger, :fasecu_a2, ""
config :ledger, :fasecu_a3, ""

config :ledger, :scottrade_username, ""
config :ledger, :scottrade_password, ""

config :ledger, :vanguard_username, ""
config :ledger, :vanguard_password, ""
config :ledger, :vanguard_a1, ""
config :ledger, :vanguard_a2, ""
config :ledger, :vanguard_a3, ""

config :ledger, :discover_username, ""
config :ledger, :discover_password, ""
