use Mix.Config

config :ledger, :tradeking_consumer_key, ""
config :ledger, :tradeking_consumer_secret, ""
config :ledger, :tradeking_token_key, ""
config :ledger, :tradeking_token_secret, ""

config :ledger, :fasecu_username, ""
config :ledger, :fasecu_password, "
